<div class="header">
  <button hc-icon-button (click)="goBack()">
    <hc-icon fontSet="fa" fontIcon="fa-arrow-circle-left" hcIconLg></hc-icon>
  </button>
  <h1>{{ characterId }}</h1>
</div>
<div *ngIf="character">
  <swiper
    [slidesPerView]="1"
    [spaceBetween]="50"
    [loop]="true"
    [pagination]="{
      clickable: true
    }"
    [navigation]="true"
    (slideChange)="pauseVideos()"
  >
    <ng-template *ngFor="let picture of character.pictures" swiperSlide>
      <div class="centered">
        <img [src]="picture" />
      </div>
    </ng-template>
    <ng-template *ngFor="let video of videos" swiperSlide>
      <div class="centered">
        <iframe
          frameborder="0"
          scrolling="no"
          marginheight="0"
          marginwidth="0"
          width="445"
          height="250"
          type="text/html"
          [src]="video"
        >
        </iframe>
      </div>
    </ng-template>
  </swiper>
</div>
